
body{
  margin: 0%;
  padding: 0%;
}
img{
  height: auto;
  width: auto;

}
.med {
  color: blue;
}

.Welcome {
  padding: 10px;
  text-align: center; 
color: rgb(73, 73, 73);
background-color: grey;
}
#image {
  width: auto;
  height: auto;
}
